$background-opacity: .8;
$background-color: rgba(255, 255, 255, $background-opacity);
$card--width: 320px;
$card--max-width: 350px;
$card--margin-top: 10px;
$card--margin-side: 5px;

.card {
    width: $card--width;
    max-width: $card--max-width;
    margin: $card--margin-top $card--margin-side;
    background-color: $background-color;
}

.card-buttons {
    text-align: right;
}

.card-content--bold {
    font-weight: bold;
}

.whitespace {
    white-space: pre-wrap;
}

.card-footer-button {
    width: 100%;
}