$wizard--margin: 10px;
$wizard--padding: 10px;

.wizard {
    text-align: center;
}

.wizard-progress {
    margin-bottom: $wizard--margin;
}

.wizard-step {
    padding: $wizard--padding 0 $wizard--padding 0;
}

.dialog-close {
    text-align: right;
}