<div class="dialog-close">
  <button mat-icon-button matDialogClose>
    <mat-icon>close</mat-icon>
  </button>
</div>
<h1 mat-dialog-title>Add new ESAC</h1>
<mat-dialog-content>
  <div class="new-container">
    <form [formGroup]="form" novalidate class="new-form">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Catalog">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="title" placeholder="CUT">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="region" placeholder="REG">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="source" placeholder="TRD">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="signature" placeholder="SIG">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="key" placeholder="KEY*">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput matTextareaAutosize formControlName="melody" placeholder="MEL*"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput matTextareaAutosize formControlName="remarks" placeholder="BEM"></textarea>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="addEsac()" [disabled]="form.invalid">
    <span>Add ESAC</span>
    <mat-icon>add</mat-icon>
  </button>
</mat-dialog-actions>