<mat-tab-group color="accent">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="mat-tab--label">Upload file</span>
      <mat-icon>file_upload</mat-icon>
    </ng-template>
    <upload-esac-file></upload-esac-file>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="mat-tab--label">New ESAC</span>
      <mat-icon>add</mat-icon>
    </ng-template>
    <new-esac></new-esac>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="mat-tab--label">Edit ESAC</span>
      <mat-icon>edit</mat-icon>
    </ng-template>
    <edit-esac></edit-esac>
  </mat-tab>
</mat-tab-group>