<div class="dialog-close">
  <button mat-icon-button matDialogClose>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="wizard">
    <mat-progress-bar mode="determinate" [value]="progress" class="wizard-progress"></mat-progress-bar>
    <div *ngIf="step === 0" class="wizard-step">
      <button mat-raised-button (click)="chooseSource(0)" color="primary">From file</button>
      <button mat-raised-button (click)="chooseSource(1)" color="primary">Create new</button>
    </div>
    <div *ngIf="step === 1" class="wizard-step">
      <esac-add-file *ngIf="sourceType === 0"></esac-add-file>
      <esac-add-new *ngIf="sourceType === 1"></esac-add-new>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="step > 0">
  <button mat-button (click)="prevStep()">
    <mat-icon>chevron_left</mat-icon>
    <span>Previous</span>
  </button>
</mat-dialog-actions>