<div class="container">
  <form class="form-container" [formGroup]="form" novalidate>
    <div class="form-column">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="DWOK">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="title" placeholder="CUT">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="source" placeholder="TRD">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="signature" placeholder="SIG">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="key" placeholder="KEY*">
      </mat-form-field>
    </div>
    <div class="form-column">
      <mat-form-field>
        <textarea matInput formControlName="melody" placeholder="MEL*" rows="4"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="remarks" placeholder="BEM" rows="5"></textarea>
      </mat-form-field>
    </div>
  </form>

  <button mat-fab color="accent" (click)="submit()" [disabled]="form.invalid">
    <mat-icon>swap_horiz</mat-icon>
  </button>
</div>