<div class="new-container">
  <form [formGroup]="form" novalidate class="new-form">
    <mat-form-field>
      <textarea matInput matTextareaAutosize formControlName="name" placeholder="Catalog"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput matTextareaAutosize formControlName="title" placeholder="CUT"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput matTextareaAutosize formControlName="region" placeholder="REG"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput matTextareaAutosize formControlName="source" placeholder="TRD"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput matTextareaAutosize formControlName="signature" placeholder="SIG"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput matTextareaAutosize formControlName="key" placeholder="KEY*"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput matTextareaAutosize formControlName="melody" placeholder="MEL*"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput matTextareaAutosize formControlName="remarks" placeholder="BEM"></textarea>
    </mat-form-field>
  </form>

  <button mat-raised-button color="accent" (click)="addEsac()" [disabled]="form.invalid">
    <span>Add</span>
    <mat-icon>add</mat-icon>
  </button>
</div>