$margin: 10px;
$padding: 10px;
$button--width: 56px;

.file-container {
  padding: $padding;
}

.file-button {
  position: relative;
  margin-right: $margin;
}

.file-input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  width: $button--width;;
}

.file-upload {
  margin-left: $margin;
}