<div class="wizard">
  <mat-progress-bar mode="determinate" [value]="progress" class="wizard-progress"></mat-progress-bar>
  <div *ngIf="step === 0" class="wizard-step">
    <button mat-raised-button (click)="chooseConverter(0)" color="primary">ESAC to MIDI</button>
    <button mat-raised-button (click)="chooseConverter(1)" color="primary">MIDI to ESAC</button>
  </div>
  <div *ngIf="step === 1" class="wizard-step">
    <div *ngIf="converterType === 0">
      <button mat-raised-button (click)="chooseSource(0)" color="primary">From database</button>
      <button mat-raised-button (click)="chooseSource(1)" color="primary">From file</button>
      <button mat-raised-button (click)="chooseSource(2)" color="primary">Create new</button>
    </div>
  </div>
  <div *ngIf="step === 2" class="wizard-step">
    <esac-file *ngIf="sourceType === 1" (converted)="handleEsacToMidiFile($event)"></esac-file>
    <esac-new *ngIf="sourceType === 2" (converted)="handleEsacToMidiNew($event)"></esac-new>
  </div>
  <div *ngIf="step === 3" class="wizard-step">
  </div>
  <div class="wizard-navigation">
    <button mat-button (click)="prevStep()" *ngIf="step > 0">
      <mat-icon>chevron_left</mat-icon>
      <span>Previous</span>
    </button>
  </div>
</div>