$background-opacity: .8;
$background-color: rgba(255, 255, 255, .8);
$wizard--margin: 10px;
$wizard--padding: 10px;
$wizard--double-padding: 20px;

.wizard {
    margin: $wizard--margin;
    padding: $wizard--padding;
    background-color: $background-color;
    text-align: center;
}

.wizard-progress {
    margin-bottom: $wizard--margin;
}

.wizard-step {
    padding: $wizard--padding 0 $wizard--double-padding 0;
}

.wizard-navigation {
    padding: $wizard--double-padding 0 $wizard--padding 0;
}