<div class="wizard">
  <mat-progress-bar mode="determinate" [value]="progress" class="wizard-progress"></mat-progress-bar>
  <div *ngIf="step === 0" class="wizard-step">
    <button mat-raised-button (click)="chooseConverter(0)" color="primary">ESAC to MIDI</button>
    <button mat-raised-button (click)="chooseConverter(1)" color="primary">MIDI to ESAC</button>
  </div>
  <div *ngIf="step === 1" class="wizard-step">
    <div *ngIf="converterType === 0">
      <button mat-raised-button (click)="chooseSource(0)" color="primary">From file</button>
      <button mat-raised-button (click)="chooseSource(1)" color="primary">Create new</button>
    </div>
    <div *ngIf="converterType === 1">
      <midi-convert-file (converted)="handleMidiToEsac($event)"></midi-convert-file>
    </div>
  </div>
  <div *ngIf="step === 2" class="wizard-step">
    <div *ngIf="converterType === 0">
      <esac-convert-file *ngIf="sourceType === 0" (converted)="handleEsacToMidiFile($event)"></esac-convert-file>
      <esac-convert-new *ngIf="sourceType === 1" (converted)="handleEsacToMidiNew($event)"></esac-convert-new>
    </div>
    <div *ngIf="converterType === 1">
      <midi-convert-result [esac]="result"></midi-convert-result>
    </div>
  </div>
  <div *ngIf="step === 3" class="wizard-step">
    <div *ngIf="converterType === 0">
      <esac-convert-result [esac]="result"></esac-convert-result>
    </div>
  </div>
  <div class="wizard-navigation">
    <button mat-button (click)="prevStep()" *ngIf="step > 0">
      <mat-icon>chevron_left</mat-icon>
      <span>Previous</span>
    </button>
  </div>
</div>