<div class="top-container">
  <div class="top-container--left">
    <div>
      <mat-form-field class="search-type">
        <mat-select placeholder="Type" [(value)]="searchField">
          <mat-option *ngFor="let searchField of searchFields" [value]="searchField.field">
            {{ searchField.placeholder }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-term">
        <textarea matInput matTextareaAutosize placeholder="Search term" [(ngModel)]="searchTerm"></textarea>
      </mat-form-field>
      <span matTooltip="Filter EsACs">
        <button mat-mini-fab (click)="search()" [disabled]="isSearchIncomplete()" color="accent" class="search-button">
          <mat-icon>search</mat-icon>
        </button>
      </span>
    </div>
    <mat-chip-list *ngIf="searchTerms" class="search-list">
      <mat-chip *ngFor="let searchTerm of searchTerms; index as idx;">
        <span>{{ searchTerm.field }}: {{ searchTerm.term }}</span>
        <mat-icon matChipRemove (click)="removeSearch(idx)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="top-container--right" *ngIf="isAnyEsac()">
    <button mat-icon-button matTooltip="Download all EsACs" (click)="downloadEsac()" class="top-item">
      <mat-icon>file_download</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Convert EsACs to MIDI" (click)="convertEsac(-1)" class="top-item">
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <div class="top-menu--large top-item">
      <button mat-button (click)="expandAll()">Expand all</button>
      <button mat-button (click)="closeAll()">Collapse all</button>
    </div>
    <div class="top-menu--small top-item">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu [overlapTrigger]="false">
        <button mat-menu-item (click)="expandAll()">Expand all</button>
        <button mat-menu-item (click)="closeAll()">Collapse all</button>
      </mat-menu>
    </div>
  </div>
</div>
<div class="card-container">
  <div *ngFor="let esac of esacs; index as idx;">
    <main-card [esac]="esac" [isExpanded]=esacsExpanded[idx] (updated)="handleEsacUpdate()"></main-card>
  </div>
</div>

<button mat-fab matTooltip="Add EsAC" color="accent" class="button-add" (click)="addEsac()">
  <mat-icon>add</mat-icon>
</button>