<div class="top-container" *ngIf="esacs">
  <button mat-icon-button (click)="downloadEsac(-1)" class="top-item">
    <mat-icon>file_download</mat-icon>
  </button>
  <button mat-icon-button (click)="convertEsac(-1)" class="top-item">
    <mat-icon>swap_horiz</mat-icon>
  </button>
  <div class="top-menu--large top-item">
    <button mat-button (click)="expandAll()">Expand all</button>
    <button mat-button (click)="closeAll()">Close all</button>
  </div>
  <div class="top-menu--small top-item">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu [overlapTrigger]="false">
      <button mat-menu-item (click)="expandAll()">Expand all</button>
      <button mat-menu-item (click)="closeAll()">Close all</button>
    </mat-menu>
  </div>
</div>
<div class="card-container">
  <mat-card class="card" *ngFor="let esac of esacs; index as idx">
    <div class="card-buttons" *ngIf="esacsExpanded[idx]">
      <button mat-icon-button (click)="downloadEsac(idx)" color="accent">
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-icon-button (click)="convertEsac(idx)" color="accent">
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-card-header>
      <mat-card-title>{{ esac.name }}</mat-card-title>
      <mat-card-subtitle>{{ esac.title }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="esac.region.length && esacsExpanded[idx]">
        <span class="card-content--bold">REG:</span>
        <span>{{ esac.region }}</span>
      </p>
      <p *ngIf="esac.source.length && esacsExpanded[idx]">
        <span class="card-content--bold">TRD:</span>
        <span>{{ esac.source }}</span>
      </p>
      <p *ngIf="esac.signature.length && esacsExpanded[idx]">
        <span class="card-content--bold">SIG:</span>
        <span>{{ esac.signature }}</span>
      </p>
      <p *ngIf="esac.key.length">
        <span class="card-content--bold">KEY:</span>
        <span>{{ esac.key }}</span>
      </p>
      <p *ngIf="esac.melody.length">
        <span class="card-content--bold">MEL:</span>
        <span class="whitespace">{{ esac.melody }}</span>
      </p>
      <p *ngIf="esac.remarks.length && esacsExpanded[idx]">
        <span class="card-content--bold">BEM:</span>
        <span>{{ esac.remarks }}</span>
      </p>
    </mat-card-content>
    <mat-card-footer>
      <div class="card-footer">
        <button mat-button (click)="toggleCard(idx)" *ngIf="!esacsExpanded[idx]" class="card-footer-button">
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-button (click)="toggleCard(idx)" *ngIf="esacsExpanded[idx]" class="card-footer-button">
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>

<button mat-fab color="accent" class="button-add" (click)="addEsac()">
  <mat-icon>add</mat-icon>
</button>