$top--margin: 10px;
$card--width: 320px;
$card--max-width: 350px;
$card--margin-top: 10px;
$card--margin-side: 5px;
$card--opacity: .85;
$button-add--offset: 20px;

.top-container {
    margin: $top--margin;
    text-align: right;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: $card--width;
    max-width: $card--max-width;
    margin: $card--margin-top $card--margin-side;
    opacity: $card--opacity;
}

.card-buttons {
    text-align: right;
}

.card-content--bold {
    font-weight: bold;
}

.whitespace {
    white-space: pre-wrap;
}

.button-add {
    position: fixed;
    right: $button-add--offset;
    bottom: $button-add--offset;
}

.card-footer-button {
    width: 100%;
}