<div class="dialog-close">
  <button mat-icon-button matDialogClose>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="card-container">
    <mat-card class="card" *ngFor="let esac of esacs">
      <mat-card-header>
        <mat-card-title>{{ esac.name }}</mat-card-title>
        <mat-card-subtitle>{{ esac.title }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="card-actions">
        <button mat-raised-button color="accent">
          <span>Play</span>
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-raised-button color="accent" (click)="downloadMidi(esac)">
          <span>Download</span>
          <mat-icon>file_download</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-dialog-content>