<div class="dialog-close">
  <button (click)="closeDialog()" mat-icon-button matDialogClose>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <button matTooltip="Download all MIDIs" mat-raised-button color="accent" (click)="downloadAllMidi()">
      <span>Download All</span>
      <mat-icon>file_download</mat-icon>
  </button>
  <div class="card-container">
    <div *ngFor="let esac of esacs; index as idx;">
      <app-esac-card [esac]="esac"></app-esac-card>
    </div>
  </div>
</mat-dialog-content>