@import './assets/styles/theme';
@import './assets/styles/material_icons';

body, 
html {
    height: 100%;
}

body {
    margin: 0;
    background-image: url('./assets/images/wallpaper.png');
    background-size: cover;
    background-attachment: fixed;
}