@import './assets/styles/theme';
@import './assets/styles/material_icons';

body {
    margin: 0;

    &:after {
        content: "";
        position: fixed;
        top: 0;
        height: 100vh;
        left: 0;
        right: 0;
        z-index: -1;
        background: url('./assets/images/wallpaper.png');
        background-size: cover;
    }
}